.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.item {
  width: 100%;
}


.btnGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.info {
  padding-top: 20px;
  font-style: italic;
  font-size: medium;
  font-weight: 400;
  color: #484545;
  text-decoration: underline;
}





