.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 100px;
}

.btnWrap {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}